@import "src/styles/colors";
.services {
  background-color: $backgroundColor;
}

.servicesInfo {
  padding: 30px;
  border: 1px solid $orange;
  border-radius: 8px;
  margin-bottom: 30px;
  @media (max-width: 767px) {
    padding: 15px;
  }
}

.serviceImage {
  width: 400px;
  height: 400px;
  border-radius: 1000px;
  object-fit: cover;
  border: 5px solid $orange;
  margin-bottom: 20px;
  box-shadow: 0 0 20px $orange;
  @media (max-width: 767px) {
    width: 275px;
    height: 275px;
  }
}

.servicesButtons {
  margin-bottom: 30px;
}

.servicesButtonsContainer {
  display: flex;
  justify-content: center;
  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.servicesButton {
  transition: .25s all ease;
  color: $backgroundColor;
  border: 2px solid $gray;
  background-color: $orange;
  border-radius: 8px;
  height: auto;
  font-weight: 700;
  font-size: 18px;
  margin-right: 10px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  @media (max-width: 767px) {
    flex-direction: column;
    margin-right: 0;
  }
}

.servicesButton p {
  transition: .25s all ease;
  font-size: 20px;
}

.servicesButtonActive {
  background-color: $gray !important;
  color: #000000;
  border-color: $gray !important;
}

.servicesButtonActive p {
  color: black;
}

.servicesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 20px;
  li {
    flex-basis: 45%;
    word-break: break-word;
  }
}

.servicesButton:hover {
  transition: .25s all ease;
  background-color: $gray !important;
  color: #000000 !important;
  border-color: $orange !important;
}

.servicesButton:hover p {
  color: #000000 !important;
}