//$primary: #b500d9;
$primary: #ff4136;
@import "colors";
@import "~bootstrap/scss/bootstrap";
body {
  font-family: 'TildaSans', sans-serif;
}
:root {
  --bs-body-bg: #001219;
  --bs-body-color: white;
}

.swiper-pagination-bullet-active {
  background-color: #ee9b00 !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: #ee9b00 !important;
}
.swiper-wrapper {
  width: 90% !important;
}

div {
  margin: 0;
}

p {
  margin: 0;
  color: $gray;
}

.modal-content {
  color: white;
  background-color: $backgroundColor;
  border-radius: 8px;
  border: 1px solid $backgroundColor;
}

h2 {
  color: $gray;
  font-size: 48px;
  margin: 15px 0;
  @media (max-width: 767px) {
    font-size: 36px;
  }
}

.btn-close {
  background-color: $orange;
}
