@import "colors";

.backgroundFull {
  background-image: url("/mainBack.jpg");
  background-size: cover;
  filter: blur(3px);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
  @media (max-width: 575px) {
    background-position: -180px center;
  }
}

.backgroundFull2 {
  background-image: url("/poroshkovaya-pokrask.jpg");
  background-size: cover;
  filter: blur(3px);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
  @media (max-width: 575px) {
    background-position: -180px center;
  }
}

