@import "./src/styles/colors";

.mainScreenBack {
  background-image: url("/mainBack2.jpg");
  background-attachment: fixed;
  background-size: cover;
  @media (max-width: 575px) {
    background-position: -380px center;
  }
}

.mainScreen {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 100px;
}

.span {
  color: $orange;
}

.h1 {
  font-size: 64px;
  font-weight: 800;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
  color: white;
  margin-bottom: 30px;
  @media (max-width: 767px) {
    font-size: 48px;
  }
}

.mainColText {
  border-style: solid; /* Set the border style */
  border-width: 1px; /* Set the border width */
  border-radius: 8px;
  font-size: 24px;
  border-color: $orange;
  padding: 15px;
  background-color: $backgroundColor;
  margin-bottom: 20px;
  @media (max-width: 575px) {
    font-size: 18px;
  }
}

.subContainer {
  display: flex;
  justify-content: flex-end;
  @media (max-width: 575px) {
    display: none;
  }
}

.circles {
  background-color: $backgroundColor;
  border: 2px solid #ee9b00;
  border-radius: 100px;
  position: relative;
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
  z-index: -1;
  //animation: rotate 20s linear infinite;
}

.circles:hover {
  animation: rotate 20s linear infinite;
  background-color: cadetblue;
}

.circle {
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  width: 100px;
  height: 100px;
  border: 3px solid $backgroundColor;
  background-color: $orange;
  top: 45px;
  left: 30px;
}

.circle2 {
  border: 3px solid $backgroundColor;
  background-color: $orange;
  width: 100px;
  height: 100px;
  top: 45px;
  right: 30px
}

.circle3 {
  width: 100px;
  height: 100px;
  border: 3px solid $backgroundColor;
  background-color: $orange;
  top: 165px;
  left: calc(50% - 50px);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.servicesButton:hover {
  transition: .25s all ease;
  background-color: $gray !important;
  color: #000000 !important;
  border-color: $orange !important;
}

.servicesButton:hover p {
  color: #000000 !important;
}

.servicesButton {
  transition: .25s all ease;
  color: $backgroundColor;
  border: 2px solid $gray;
  background-color: $orange;
  border-radius: 8px;
  height: auto;
  font-weight: 700;
  margin-right: 10px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  @media (max-width: 767px) {
    flex-direction: column;
    width: 100%;
  }
}

.servicesButton p {
  transition: .25s all ease;
  font-size: 24px;
}

