@import "./src/styles/colors";

.scrollContainer {
  overflow-y: scroll;
  scrollbar-width: none;
  height: 100vh;
  scroll-behavior: smooth;
}

//.scrollContainer::-webkit-scrollbar {
//  display: none;
//}

.scrollContainer::-webkit-scrollbar-track-piece {
  background-color: $backgroundColor;
}

.scrollContainer::-webkit-scrollbar-track {
  background-color: $backgroundColor;
  -webkit-border-radius: 1ex;
}

/* Размеры скроллбара */
.scrollContainer::-webkit-scrollbar {
  width: 5px;
}

/* Ползунок скроллбара */

.scrollContent {
  //padding-right: 10px; /* Add extra padding to accommodate the scrollbar */
}

.scrollContainer::-webkit-scrollbar-track {
  background-color: $gray;
}

.scrollContainer::-webkit-scrollbar-thumb {
  background-color: $orange;
}