@import "src/styles/colors";

.about {
  background-image: url("/poroshkovaya-pokrask.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.aboutHeader {
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
  width: fit-content;
  display: flex;
  align-items: center;
  background-color: $backgroundColor;
  border: 1px solid $orange;
  border-radius: 8px;
  padding: 10px;
}

.flexContainer {
  display: flex;
  margin-bottom: 20px;
  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.flexCol {
  flex-basis: 50%;
}
.flexCol:first-child {
  margin-right: 20px;
  @media (max-width: 767px) {
    margin-right: 0;
  }
}

.aboutInfo {
  padding: 20px 30px;
  border: 2px solid $gray;
  border-radius: 8px;
  margin-bottom: 30px;
  @media (max-width: 767px) {
    padding: 10px 15px;
  }
}

.aboutText {
  border: 2px solid $orange;
  padding: 15px;
  border-radius: 8px;
  background-color: $backgroundColor;
  margin-bottom: 20px;
  font-size: 20px;
  @media (max-width: 767px) {
    margin-top: 20px;
  }
}