@import "@/styles/colors.scss";
.offCanvas {
  background-color: $backgroundColor;
}

.offCanvas .btn-close {
  background-color: white !important;
}

.offCanvasBlock {
  background-color: $backgroundColor;
}

.offCanvasText {
  color: $orange;
  margin-bottom: 15px;
  font-size: 20px;
}