@import "./src/styles/colors";
.contactModal {
  .modal-content {
    color: black;
    background-color: $backgroundColor;
    border-radius: 8px;
    border: 1px solid $backgroundColor;
  }

  padding: 5px;
}

.header {
  font-size: 24px;
  margin-bottom: 25px;
  @media (max-width: 767px) {
    font-size: 20px;
  }
}

.button {
  color: $backgroundColor;
  border: 2px solid $gray;
  background-color: $orange;
  border-radius: 8px;
  min-height: 60px;
  font-size: 18px;
  margin-top: 5px;
  transition: .25s all ease;
  font-weight: 600;
}

.button p {
  transition: .25s all ease;
  font-size: 20px;
}

.button:hover p {
  color: #000000 !important;
}

.button:hover {
  transition: .25s all ease;
  background-color: $gray !important;
  color: #000000 !important;
  border-color: $gray !important;
}

.input {
  height: 60px;
  padding: 0 20px;
  font-size: 20px;
  line-height: 1.33;
  width: 100%;
  border: 2px solid $gray;
  box-sizing: border-box;
  outline: none;
  border-radius: 8px;
  margin-bottom: 20px;
  color: $gray;
  background-color: transparent;
  font-weight: 700;
}

.modalHeader {
  //background-color: $backgroundColor;
}

.modalBody {
  padding: 35px;
  border: 1px solid transparent;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: $backgroundColor;
}
