@import "./src/styles/colors";

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--bs-body-bg);
  width: calc(100% - 5px);
  border-bottom: 3px solid $orange;
  @media (max-width: 575px) {
    right: 0;
  }
  @media (min-width: 576px) {
    padding-left: 0;
    padding-right: 20px;
  }
  z-index: 100;
}

.phoneText {
  font-size: 16px;
  text-align: center;
  @media (max-width: 575px) {
    font-size: 14px;
  }
}

.subText {
  text-align: center;
  @media (max-width: 575px) {
    font-size: 12px;
  }
}

.headerText {
  width: fit-content;
  display: flex;
  align-items: center;
  background-color: var(--bs-body-bg);
  border-radius: 8px;
  padding: 10px;
  svg {
    margin-right: 10px;
    path {
      fill: #ee9b00;
    }
  }
}

.headerAddress {
  display: flex;
  @media (max-width: 575px) {
    display: none;
  }
}
