@import "src/styles/colors";
.gallery {
  background-color: $backgroundColor;
  margin-bottom: 30px;
}

.galleryContainer::-webkit-scrollbar {
  width: 0;
}

.galleryContainer {
  padding: 30px;
  height: 700px;
  border-radius: 8px;
  overflow-y: scroll;
  scrollbar-width: none;
  border: 1px solid $orange;
  @media (max-width: 768px) {
    height: 450px;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.image {
  cursor: pointer;
  margin-bottom: 30px;
  width: 100%;
  height: 640px;
  object-fit: cover;
  border-radius: 8px;
  @media (max-width: 768px) {
    height: 385px;
  }
}

.imageCont {
  height: 100%;
}