@import "src/styles/colors";
.contacts {
  background-color: $backgroundColor;
}

.contactsInfo {
  padding: 30px;
  border: 1px solid $orange;
  border-radius: 8px;
  margin-bottom: 20px;
  height: calc(100% - 20px);
  @media (max-width: 767px) {
    padding: 15px;
  }
}

.border {
  border: 1px solid $orange;
}

.contactsText {
  font-size: 16px;
  margin-bottom: 10px;
  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.footerText {
  font-size: 14px;
  margin-bottom: 5px;
  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.contactsMap {
  padding: 25px;
  border-radius: 8px;
  border: 1px solid $orange;
  margin-bottom: 10px;
  @media (max-width: 768px) {
    padding: 15px;
  }
}